<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <th:block th:include="fragments/head"></th:block>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" th:href="@{/assets/plugins/fontawesome/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/plugins/fontawesome/css/all.min.css}">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/feather.css}">

    <!-- Animation CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/aos.css}">

    <!-- Main CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/custom.css}">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/layout.css}">

</head>
<body class="account-page">

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <th:block th:include="./fragments/header-login"></th:block>
        <!-- /Header -->

        <!-- Page Content -->
        <div class="content top-space">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-8 offset-md-2">

                        <!-- Reset Password Tab Content -->
                        <div class="account-content">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-md-7 col-lg-6 login-left">
                                    <img th:src="@{/assets/img/login-banner.png}" class="img-fluid" alt="Doccure Login">
                                </div>
                                <div class="col-md-12 col-lg-6 login-right">
                                    <div class="login-header">
                                        <h3>Reset Password?</h3>
                                    </div>

                                    <form method="post" id="reset-password" role="form" autocomplete="off" class="form-validation" th:action="@{/reset-password}">
                                        <input type="hidden" id="userId" th:value="${userId}" name="userId">
                                        <input type="hidden" id="resetToken" th:value="${token}" name="resetToken">
                                        <div class="form-group form-focus" id="password">
                                            <input type="password" class="form-control floating" name="password">
                                            <label class="focus-label">New Password</label>
                                        </div>
                                        <div class="form-group form-focus" id="passwordRepeat">
                                            <input type="password" class="form-control floating" name="passwordRepeat">
                                            <label class="focus-label">New Password Repeat</label>
                                        </div>
                                        <div class="text-end">
                                            <a class="forgot-link" th:href="@{/login}">Remember your password?</a>
                                        </div>
                                        <button class="btn btn-primary w-100 btn-lg login-btn" type="submit">Save Password</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /Reset Password Tab Content -->

                    </div>
                </div>

            </div>

        </div>
        <!-- /Page Content -->

        <!-- Footer -->
        <th:block th:include="./fragments/footer-login"></th:block>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script th:src="@{/assets/js/jquery-3.6.4.min.js}"></script>

    <!-- Bootstrap Core JS -->
    <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>

    <!-- Feather Icon JS -->
    <script th:src="@{/assets/js/feather.min.js}"></script>

    <!-- Animation JS -->
    <script th:src="@{/assets/js/aos.js}"></script>

    <!-- Sticky Sidebar JS -->
    <script th:src="@{assets/plugins/theia-sticky-sidebar/ResizeSensor.js}"></script>
    <script th:src="@{assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js}"></script>

    <!-- Circle Progress JS -->
    <script th:src="@{assets/js/circle-progress.min.js}"></script>

    <!-- Custom JS -->
    <script th:src="@{/assets/js/script.js}"></script>
    <script th:src="@{/assets/js/custom/function.js}"></script>
    <script th:src="@{/assets/js/custom/custom.js}"></script>

</body>
</html>