<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <th:block th:include="fragments/head"></th:block>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" th:href="@{/assets/plugins/fontawesome/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/plugins/fontawesome/css/all.min.css}">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/feather.css}">

    <!-- Main CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/custom.css}">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/layout.css}">

</head>
<body class="login-body">

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <th:block th:include="./fragments/header-login"></th:block>
        <!-- /Header -->

        <!-- Page Content -->
        <div class="login-content-info">
            <div class="container">

                <!-- Login Email -->
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="account-content">
                            <div class="login-shapes">
                                <div class="shape-img-left">
                                    <img th:src="@{assets/img/shape-01.png}" alt="">
                                </div>
                                <div class="shape-img-right">
                                    <img th:src="@{assets/img/shape-02.png}" alt="">
                                </div>
                            </div>
                            <div class="account-info">
                                <div class="login-back">
                                    <a th:href="@{/login}"><i class="fas fa-arrow-left-long"></i> Back to Login</a>
                                </div>
                                <div class="login-title">
                                    <h3>Reset Password?</h3>
                                    <p>Please enter your details.</p>
                                </div>

                                <form method="post" id="reset-password" role="form" autocomplete="off" class="form-validation" th:action="@{/reset-password}">
                                    <input type="hidden" id="userId" th:value="${userId}" name="userId">
                                    <input type="hidden" id="resetToken" th:value="${token}" name="resetToken">
                                    <div class="form-group" id="password">
                                        <div class="form-group-flex">
                                            <label>New Password</label>
                                        </div>
                                        <div class="pass-group">
                                            <input type="password" class="form-control pass-input" name="password" placeholder="*************">
                                            <span class="feather-eye toggle-password"></span>
                                        </div>
                                    </div>
                                    <div class="form-group" id="passwordRepeat">
                                        <div class="form-group-flex">
                                            <label>New Password Repeat</label>
                                        </div>
                                        <div class="pass-group">
                                            <input type="password" class="form-control pass-input-repeat" name="passwordRepeat" placeholder="*************">
                                            <span class="feather-eye toggle-password-repeat"></span>
                                        </div>
                                    </div>
                                    <div class="form-group remember-password-area">
                                        <div class="form-group-flex">
                                            <label></label>
                                            <a th:href="@{/login}" class="forgot-link">Remember your password?</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-block" type="submit">Save Password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Login Email -->

            </div>
        </div>
        <!-- /Page Content -->

    </div>
    <!-- /Main Wrapper -->

    <!-- ChatBot Assistant -->
    <th:block th:include="fragments/chatbot"></th:block>
    <!-- /ChatBot Assistant -->

    <!-- jQuery -->
    <script th:src="@{/assets/js/jquery-3.6.4.min.js}"></script>

    <!-- Bootstrap Core JS -->
    <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>

    <!-- Feather Icon JS -->
    <script th:src="@{/assets/js/feather.min.js}"></script>

    <!-- Sticky Sidebar JS -->
    <script th:src="@{assets/plugins/theia-sticky-sidebar/ResizeSensor.js}"></script>
    <script th:src="@{assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js}"></script>

    <!-- Custom JS -->
    <script th:src="@{/assets/js/script.js}"></script>
    <script th:src="@{/assets/js/custom/function.js}"></script>
    <script th:src="@{/assets/js/custom/custom.js}"></script>

</body>
</html>