$img: "/assets/img";
$i: !important;

$form-red-color: #ff0100;
$border-color: #f0f0f0;
$blockquote-color: #CCCCCC;
$index-section-bg-gray-color: #f8f9fa;
$index-section-bg-white-color: #fff;
$font-color: #6B7280;
$navbar-hover-color: #0E82FD;
$white: white;
$blue_1: #0E82FD;
$royal_blue: #1E3259;
$image_upload_border_color: rgba(0, 0, 0, 0.1);
$image_upload_background_color: #fbfbfb;
$blue_button_background: #20c0f3;

$blockquote-font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
