$img: "/assets/img";
$i: !important;

$form-red-color: #ff0100;
$border-color: #f0f0f0;
$blockquote-color: #CCCCCC;
$index-section-bg-gray-color: #f8f9fa;
$index-section-bg-white-color: #fff;

$blockquote-font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;