@import "function";
@import "_variables";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// error pages (begin)
#error-page {
  height: 100%;
  @extend %flex-align-center;
}
// error pages (end)

// scrollbar (begin)
::-webkit-scrollbar {
  background-color: #F1F1F1;
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: #F1F1F1;
}

::-webkit-scrollbar-thumb {
  background-color: #C1C1C1;
  border-radius: 16px;
  border: 4px solid #F1F1F1;
}

::-webkit-scrollbar-thumb:hover {
  background: #A8A8A8;
}

::-webkit-scrollbar-button {
  display:none;
}
// scrollbar (end)

// ajax loader (begin)
#overlay{
  //position: fixed;
  //top: 0;
  //z-index: 100;
  width: 100%;
  height:100%;
  display: none;
  //background: rgba(0,0,0,0.6);
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  /*position: absolute;
  top: 50%;
  left: 50%;*/
  transform: translate(-50%, -50%);
  height: 56px;
  width: 56px;
  box-sizing: border-box;
  background: conic-gradient(
                  from 90deg at 50% 50%,
                  rgba(39, 174, 96, 0) 0deg,
                  rgba(31, 144, 255, 0) 0.04deg,
                  $ajax-loader 360deg
  );
  border-radius: 56px;
  /* previous code */
  animation: 1s rotate infinite linear;
}
.spinner::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 48px;
}
.spinner::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 8px;
  width: 8px;
  background: $ajax-loader;
  border-radius: 8px;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
// ajax loader (end)


.form-validation {
  .form-error {
    height: auto;
    input.form-control, textarea.form-control, .bootstrap-tagsinput, input[type="checkbox"]{
      border-color: $form-red-color;
    }
    select.form-control {
      border: 1px solid $form-red-color $i;
    }
    .text-danger {
      margin-top: 4px;
      padding-left: 1px;
    }
  }
  .service-upload.image.form-error{
    margin-bottom: 0;
    border: 1px solid $form-red-color $i;
    .custom-text-danger {
      color: $form-red-color;
    }
  }
  .custom-text-danger{
    color:$form-red-color;
    margin-top: 4px;
    padding-left: 1px;
  }
}
.alert.alert-danger {
  >ul {
    margin-bottom: unset;
  }
}


/*// error pages (begin)
.main{
  background-color: $form-red-color;
}
// error pages (end)*/



.dashboard-menu > ul > li > form > a {
  color: #757575;
  display: block;
  padding: 16px 20px;
}
.dashboard-menu > ul > li:hover > form > a,
.dashboard-menu > ul > li.active > form > a {
  color: #0de0fe;
}
.dashboard-menu > ul > li:hover {
  color: #0de0fe;
  cursor: pointer;
  > form > a {
    cursor: pointer;
  }
}

.blog-view .blog.blog-single-post .blog-content {
  border-top: 1px solid $border-color;
  padding-top: 25px;
}

blockquote{
  box-shadow: inset 3px 0 0 0 $blockquote-color;
  padding-left: 1.5rem;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  font-family: $blockquote-font-family;
  font-style: italic;
}

.main-wrapper header .navbar .nav.header-navbar-rht .nav-item .dropdown-menu .user-header .user-text h6{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 129px;
}
.header-navbar-rht li .dropdown-menu .dropdown-item:last-child {
  cursor: pointer;
}

.section-gray {
  background-color: $index-section-bg-gray-color;
}
.section-white {
  background-color: $index-section-bg-white-color;
}

header .nav.header-navbar-rht .has-submenu >a {
  font-weight: 500;
  &:hover {
    color: $navbar-hover-color;
  }
}

// header (begin)
.header .container .navbar.navbar-expand-lg.header-nav {
  .navbar-header {
    height: 74px;
    .navbar-brand.logo {
      height: 100%;
      width: 100%;
      >img.img-fluid {
        width: auto;
        max-height: 100%;
      }
    }
  }
  .main-menu-wrapper .main-nav >li.text >a{
    padding: 25.5px 0 25.5px !important;
  }
}
// header (end)

// blogs (begin)
.blog.grid-blog {
  .blog-image .img-fluid{
    aspect-ratio: 3/2;
    object-fit: cover;
  }
  .blog-content {
    .entry-meta.meta-item {
      .author {
        width: calc(100% - 120px);
        margin-right:10px;
        .post-author {
          width: 100%;
          >a {
            width: 100%;
            span {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: calc(100% - (33px + 1.2rem));
            }
            img {
              aspect-ratio: 1/1;
              object-fit: cover;
            }
          }
        }
        .doctor-blog {
          span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: calc(100% - (33px + 1.2rem));
          }
          img {
            aspect-ratio: 1/1;
            object-fit: cover;
          }
        }
      }
      .date {
        flex: 0 0 110px;
        max-width: 110px;
      }
    }
    .blog-title {
      height: 43px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .preface {
      margin: 0 0 15px;
      height: 42px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.blog-sidebar {
  .latest-posts {
    .post-thumb {
      img {
        aspect-ratio: 1/1;
        object-fit: cover;
      }
    }
  }
}
// blogs (end)



// home (begin)
.banner-section.home-banner .container .banner-img {
  @extend %flex-align-center;
}

.banner-content .header-icon {
  right: 112px;
}

.faq-section {
  padding-top: 80px;
}

/*-----------------------------------*/
.clinic-section {
  background: $white;
  &::before, &::after {
    display: none;
  }
  .slide-nav-clinic button.owl-next,
  .slide-nav-clinic button.owl-prev {
    width: 44px;
    height: 44px;
    font-size: 18px;
    color: $royal_blue;
    background: $white;
    box-shadow: 0 4px 14px rgba(141, 141, 141, 0.25);
    text-shadow: none;
    top: 0;
    cursor: pointer;
    border: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    border-radius: 50px;
    @extend %inlineflex-align-center;
  }
  .slide-nav-clinic button.owl-next:hover,
  .slide-nav-clinic button.owl-prev:hover {
    color: $white;
    background: $blue_1;
  }
}
/*-----------------------------------*/
.view-all-area {
  @extend %flex-align-center;
  .btn-view-all {
    font-weight: 500;
    font-size: 15px;
    color: $blue_1;
    background: $white;
    border: 2px solid $blue_1;
    box-shadow: inset 0 0 0 0 $blue_1;
    border-radius: 6px;
    min-width: 112px;
    padding: 7px 12px;
    width: unset;
    text-align: center;
    @include transition(0.5s);
    &:hover {
      color: $white;
      border-color: $blue_1;
      background: $blue_1;
      box-shadow: inset 0 0 0 50px $blue_1;
      @include transition(0.5s);
    }
    @include respond-below(custom767) {
      font-size: 14px;
    }
  }
}
/*-----------------------------------*/
.articles-section .articles-info {
  .articles-left .articles-img >img {
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  .articles-right .articles-content{
    .title {
      height: 38.38px;
      overflow: hidden;
      text-overflow: ellipsis;
      //margin: 0 auto 10px auto;
      >a {
        width: 100%;
        height: 100%;
        display:block;
      }
    }
    .preface {
      height: 45px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
/*-----------------------------------*/
.doctors-section .reviews-ratings p {
  margin-bottom: 18px;
}
/*-----------------------------------*/
.doctors-section .owl-stage-outer .owl-item .item .doctor-profile-widget {
  .doc-pro-img .doctor-profile-img >img {
    aspect-ratio: 1; // 3/2;
    object-fit: cover;
  }
  .doc-content .doc-pro-info .doc-pro-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 165px;
  }
}
// home (end)

// doctor search (begin)
.doctor-filter-select {
  width: 200px;
}
// doctor search (end)

// footer (begin)
.footer-one .footer-bottom .copyright .policy-menu li:first-child {
  margin-right: 27.5px;
}
// footer (end)

// doctor profile settings (begin)
.clinic-section .image-upload {
  background-color: $image_upload_background_color;
  border: 2px dashed $image_upload_border_color;
  border-radius: 0.25rem;
  text-align: center;
  position: relative;
  margin: 0 0 30px;
  padding: 70px 0;
  input[type=file] {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
  }
}

// email
#profile-settings #user-email {
  position: relative;
  z-index: 99;
  .changeEmailButton{
    z-index: 999;
    position: absolute;
    right: 0;
    bottom: 0;
    min-height:46px;
    min-width: 46px;
    @extend %flex-align-center;
    border: 1px solid $detail_btn_color;
    background-color: $detail_btn_color;
    color: $white;
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem;
  }
}

// profile photo
#profile-settings #user-profile-photo .change-photo-btn{
  &:hover{
    color: $white;
  }
  /*color: $white;
  display: block;
  width: 100%;
  height: 100%;
  @extend %flex-align-center;*/
}

#changeProfilePhotoModal {
  .modal-body {
    @extend %flex-align-center;
    min-height: 300px;
    max-height: 80vh;
    padding: 0;
    .crop-frame{
      height: auto;
      max-height: 80vh;
      width: 100%;
    }
  }
  .modal-footer {
    @extend %flex-align-space-between;
    button {
      color: $white;
      &.si_accept_cancel {
        background-color: $font-color;
      }
      &.si_accept_confirm {
        background-color: $blue_1;
      }
    }
  }
}

// upload profile photo
#user-profile-photo .change-photo-btn2 {
  label {
    margin: 0 0 10px;
    background-color: $blue_button_background;
    color: $white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    text-align: center;
    width: 150px;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    border-radius: 50px;
    height: 40px;
    @extend %flex-align-center;

    i{
      cursor: pointer;
      margin-right: 8px;
    }
    span {
      cursor: pointer;
    }
  }
  input.upload{
    width:100%;
    border-radius: 50px;
    display:none;
  }
}

// clinic
.upload-images >img{
  aspect-ratio: 1/1;
  object-fit: cover;
}
#profile-settings .clinic-images .upload-images {
  margin-left: 0;
  margin-right: 20px;
}

// education
.education-cont, .experience-cont, .awards-cont {
  &:not(:first-child) {
    > div {
      padding-top: 20px;
      border-top: 1px solid $border-color;
    }
  }
}
// doctor profile settings (end)

// search (begin)
.doctor-content .search-body{
  .doctor-filter-info {
    .doctors-found {
      padding-bottom: 0;
    }
  }
  .doctor-card .card-body .doctor-widget-one .doc-info-left {
    width: calc(100% - 240px);
    .doc-info-cont {
      width: calc(100% - 184px);
      .doc-name {
        width: 100%;
        >a{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: calc(100% - 70px);
        }
      }
    }
  }
}
.doctor-widget-one .doctor-img img {
  object-fit: cover;
}
.doctor-profile-widget.doc-grid .doc-pro-img .doctor-profile-img img {
  aspect-ratio: 1/1;
  object-fit: cover;
}
.doctor-detail-page {
  .doctor-img img {
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  .doc-info-right {
    //@extend %flex-align-column-space-between-align-item-start;
  }
  .clinic-details ul li a img {
    width: 40px;
    border-radius: 5px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  .membership-list .experience-list {
    &:before{
      display:none;
    }
    >li {
      list-style: decimal;
      margin-left: 40px;
      .experience-content {
        margin-left: 0;
      }
    }
  }
}
// search (end)

// review (begin)
#add-review-btn .review-button {
  font-weight: 700;
  font-size: 14px;
  min-width: 100px;
  padding: 9px 17px;
}
.review-listing {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
  > ul li .comment .comment-body {
    width: 100%;
  }
  .review-pagination .blog-pagination .pagination{
    margin: 30px 0;
  }
}
.write-review {
  border-top: 1px solid #f5f7fc;
  padding-top: 30px;
  margin-top: 30px;
}
#doc_reviews .rating {
  @extend %flex-align-center-row-flex-start;
  margin-bottom: 25px;
  .rating-avg {
    margin-right: 8px;
    line-height: 1;
    font-size: 15px;
  }
  .fa-star {
    margin: 0 2px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .dot {
    background: #757575;
    border-radius: 50%;
    width: 3px;
    height: 3px;
    margin: 0 8px;
  }
  .rating-count {
    line-height: 1;
    font-size: 12px;
  }
}
.profile-sidebar .profile-info-widget .profile-det-info .rating {
  margin-bottom: unset;
  margin-top: 23px;
  justify-content: center;
  -webkit-justify-content: center;
}
#book-appointment {
  .submit-section.submit-btn-bottom{
    @extend %flex-align-center;
    margin-bottom: 26.5px;
    margin-top: 22.5px;
    >button {
      background-color: $book_btn_color $i;
      border-color: $book_btn_color;
    }
  }
}
// review (end)

// patient profile settings
#save-patient-profile-settings-btn .submit-btn{
  font-weight: 700;
  font-size: 14px;
  min-width: 100px;
  padding: 9px 17px;
}

// register (begin)
.login-content-info .account-content .signup-option-btns {
  margin-bottom: 20px;
}
fieldset#first {
  .widget-setcount ul li:first-child {
    &:before {
      right: -95px;
    }
  }
  .widget-btn {
    >a.disabled {
      background-color: $blue_15;
      border-color: $blue_15;
      pointer-events: none;
      text-decoration: none;
    }
  }
}
.signup-option-btns {
  >input {
    display: none;
  }
  .signup-btn-info {
    &:hover{
      cursor: pointer;
      background: $grey_400;
      border: 1px solid $white_shade;
      box-shadow: none;
      .signup-arrow {
        background: $white;
        color: $black;
      }
    }
    &.active {
      background: $white;
      border: 1px solid $blue_14;
      box-shadow: 0px 22px 38px rgba(0, 0, 0, 0.12);
      @include transition(0.7s);
      .signup-arrow {
        background: $blue_14;
        color: $white;
        @include transition(0.4s);
      }
    }
  }
}
/*fieldset#third #verify-account .forgot-link {
  padding: 0;
  border: none;
  background-color: transparent;
}*/
/*.form-control:disabled {
  background-color: #e9ecef $i;
}*/

// register (end)

// forgot password (begin)
.login-content-info .account-info .remember-password-area {
  margin-bottom: 10px;
  .forgot-link {
    margin-bottom: 0;
  }
}
// forgot password (end)

.doctor-content .search-left-side-bar .collapse.scroll-area .filter-collapse >ul{
  max-height: 188px;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #F1F1F1;
    border-radius: 3px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #C1C1C1;
    border-radius: 3px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #A8A8A8;
  }
  li .custom_check .checkmark::after {
    width: 9px;
    height: 9px;
  }
}

#rating-star {
  @extend %flex-align-center-row-flex-start;
  .review-stars {
    --star-size: 15px;
    --star-color: #dedfe0;
    --star-background: #f4c150;
    --percent: calc(var(--rating) / 5 * 100%);

    display: inline-block;
    font-size: var(--star-size);
    font-family: "Poppins", sans-serif; // make sure ★ appears correctly
    //line-height: 1;
    margin: 0 8px;
    &::before {
      //content: '★★★★★';
      content: '\f005\f005\f005\f005\f005';
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      letter-spacing: 3px;
      background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .dot {
    @extend %flex-align-center;
    margin-right: 8px;
    >i {
      background: #757575;
      border-radius: 50%;
      width: 3px;
      height: 3px;
      display:inline-block;
      //margin: 0 8px;
    }
  }
}

/*.doctor-content .search-body .doctor-widget-one .clini-infos {
  .social-media-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    @extend %flex-align-center-row-flex-start;
    >li {
      margin-right: 15px;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
      >a {
        color: #6B7280;
        -webkit-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        height: 40px;
        width: 40px;
        @extend %flex-align-center;
        border: 1px solid #cccccc;
        border-radius: 0.375rem;
        >i {
          font-size: 20px;
        }
      }
    }
  }
}*/

.doctor-detail-page .doctor-widget .doc-info-right .doctor-action >a {
  width: 38px;
  height: 38px;
  @extend %flex-align-center;
  font-size: 18px;
  padding: 0;
}

.doctor-detail-page .card .card-body .doctor-widget .doc-info-left .doc-info-cont .clinic-services {
  .more-button {
    margin-left: 12px;
    font-size: 12px;
    @extend %flex-align-center;
    line-height: 1.5;
    >i {
      margin-left: 5px;
      line-height: 1.5;
    }
  }
}

/*#review-doctor #review-rating .star-rating input[type=radio]:checked ~ label {
  color: #bbb;
}
#review-doctor #review-rating .star-rating label:hover, .star-rating label:hover ~ label {
  color: #f2b600;
}*/
#review-doctor #review-rating .star-rating label:hover, .star-rating label:hover ~ label {
  color: #bbb;
}
#review-doctor #review-rating .star-rating label {
  &.fill {
    color: #f2b600;
  }
  &.empty {
    color: #bbb;
  }
}

.pass-group .toggle-password-repeat {
  font-size: 16px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: #797979;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  @extend %flex-align-center;
  &:hover {
    background-color: #F3F3F3;
  }
}

#change-password {
  .pass-area {
    position: relative;
    .toggle-password, .toggle-password-new, .toggle-password-repeat {
      font-size: 16px;
      position: absolute;
      bottom: 7px;
      right: 10px;
      color: #797979;
      cursor: pointer;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      @extend %flex-align-center;
      &:hover {
        background-color: #F3F3F3;
      }
    }
  }
}

.clinic-maps {
  .mapouter{
    position:relative;
    text-align:right;
    width:100%;
    height:270px;
  }
  .gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:100%;
    height:270px;
  }
  .gmap_iframe {
    width:100%!important;
    height:270px!important;
  }
}

.doctor-detail-page .location-list {
  border: none;
  padding: 0;
}

#doctors-found-area {
  @extend %flex-align-center-row-flex-start;
  section {
    font-weight: 500;
    font-size: 16px;
    color: $filter_item_label_color;
    span {
      color: $font_black_color;
    }
  }
  .filterItem {
    margin-left: 12px;
    border-radius: 15px;
    padding: 6px 12px;
    background: $filter_bd_color;
    font-size: 12px;
    @extend %flex-align-center;
    span {
      margin-left: 4px;
      font-weight: 600;
    }
    .removeFilter {
      margin-left: 8px;
      font-size: 14px;
      @extend %flex-align-column-center;
      i {
        color: $filter_item_color;
        &:hover {
          color: $filter_item_hover_color;
        }
      }
    }
  }
}


/********************************************************************************************************************/
/************************************ ######## Responsive Mobile Screen ######## ************************************/
/********************************************************************************************************************/

@media only screen and (max-width: 1399.98px) {
  .doctors-section .owl-stage-outer .owl-item .item .doctor-profile-widget .doc-content .doc-pro-info .doc-pro-name{
    max-width: 145px;
  }
  .banner-content .header-icon {
    right: 22px;
  }
  .doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left .doc-info-cont .doc-name >a{
    //max-width: 275px;
  }
  .doctor-card .card-body .doctor-widget-one .doc-info-left .doc-info-cont .doc-name >a{
    max-width: calc(100% - 50px);
  }
}

@media only screen and (max-width: 1198.98px) {
  .doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left .doc-info-cont .doc-name >a{
    //max-width: calc(100% - 30px);
  }
}

@media only screen and ((min-width: 991.98px) and (max-width: 1198.98px)) {
  .doctor-content .search-body .doctor-card .card-body .doctor-widget-one {
    .doc-info-left {
      width: calc(100% - 200px);
      .doctor-img {
        -ms-flex: 0 0 150px;
        flex: 0 0 150px;
        margin-right: 18px;
        width: 150px;
        height: 150px;
        >a >img {
          width: 150px;
          height: 150px;
        }
      }
      .doc-info-cont {
        .doc-name {
          margin-bottom: 4px;
          font-size: 18px;
          >a {
            max-width: calc(100% - 40px);
          }
          >i {
            font-size: 14px;
            margin-left: 6px;
          }
        }
        .doc-speciality {
          font-size: 12px;
          margin-bottom: 16px;
        }
        .clinic-details {
          margin-bottom: 7px;
          .doc-location {
            font-size: 13px;
            &:not(:last-child) {
              margin-bottom: 7px;
            }
          }
        }
        .reviews-ratings {
          >p {
            font-size: 11px;
            >span {
              font-size: 13px;
            }
          }
        }
      }
    }
    .doc-info-right {
      -ms-flex: 0 0 200px;
      flex: 0 0 200px;
      max-width: 200px;
    }
  }
}

@media only screen and (min-width: 991.98px) {
  .home-banner .banner-content {
    padding-bottom: 100px;
  }
  .banner-section .search-box-one {
    min-width: 700px;
  }
}

@media only screen and (max-width: 767.98px) {
  .doctor-content .search-body{
    .doctor-card .card-body .doctor-widget-one .doc-info-left {
      width: 100%;
      .doc-info-cont {
        width: 65%;
        margin: auto;
        .doc-name {
          width: 100%;
          >a{
            max-width: calc(100% - 24px);
          }
        }
      }
    }
    .doc-info-right .book-appoint{
      margin-top: 20px;
    }
  }
  .faq-section {
    padding-top: 40px;
  }
  .doctors-section {
    .owl-nav.nav-control {
      padding-bottom: 20px;
    }
  }
}

@media only screen and (min-width: 767.98px) {
  /*.articles-section .articles-info .articles-right .articles-content .preface{
    height: 39px;
  }*/
  .banner-section .search-box-one {
    .search-input.search-line {
      width: 48%;
    }
    .search-input.search-map-line {
      width: 29%;
      &:before {
        display:none;
      }
    }
  }
}

@media only screen and (max-width: 580px) {
  .doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left .doc-info-cont {
    width: 86%;
  }
}

@media only screen and (max-width: 490px) {
  .doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left .doc-info-cont {
    width: 100%;
  }
}
