.clinic-section .slide-nav-clinic button.owl-next,
.clinic-section .slide-nav-clinic button.owl-prev {
  display: inline-flex;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

/*---------------------------------------*/
#doctors-found-area .filterItem, #change-password .pass-area .toggle-password, #change-password .pass-area .toggle-password-new, #change-password .pass-area .toggle-password-repeat, .pass-group .toggle-password-repeat, .doctor-detail-page .card .card-body .doctor-widget .doc-info-left .doc-info-cont .clinic-services .more-button, .doctor-detail-page .doctor-widget .doc-info-right .doctor-action > a, #rating-star .dot, #book-appointment .submit-section.submit-btn-bottom, #user-profile-photo .change-photo-btn2 label, #changeProfilePhotoModal .modal-body, #profile-settings #user-email .changeEmailButton, .view-all-area, .banner-section.home-banner .container .banner-img, #error-page {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  align-content: center;
}

#doctors-found-area, #rating-star, #doc_reviews .rating {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: center;
  -webkit-align-items: center;
  align-content: center;
}

#changeProfilePhotoModal .modal-footer {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  align-content: center;
}

#doctors-found-area .filterItem .removeFilter {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  align-content: center;
}

/*---------------------------------------*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#error-page {
  height: 100%;
}

::-webkit-scrollbar {
  background-color: #F1F1F1;
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: #F1F1F1;
}

::-webkit-scrollbar-thumb {
  background-color: #C1C1C1;
  border-radius: 16px;
  border: 4px solid #F1F1F1;
}

::-webkit-scrollbar-thumb:hover {
  background: #A8A8A8;
}

::-webkit-scrollbar-button {
  display: none;
}

#overlay {
  width: 100%;
  height: 100%;
  display: none;
}

.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  /*position: absolute;
  top: 50%;
  left: 50%;*/
  transform: translate(-50%, -50%);
  height: 56px;
  width: 56px;
  box-sizing: border-box;
  background: conic-gradient(from 90deg at 50% 50%, rgba(39, 174, 96, 0) 0deg, rgba(31, 144, 255, 0) 0.04deg, #6B7280 360deg);
  border-radius: 56px;
  /* previous code */
  animation: 1s rotate infinite linear;
}

.spinner::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 48px;
}

.spinner::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 8px;
  width: 8px;
  background: #6B7280;
  border-radius: 8px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.form-validation .form-error {
  height: auto;
}
.form-validation .form-error input.form-control, .form-validation .form-error textarea.form-control, .form-validation .form-error .bootstrap-tagsinput, .form-validation .form-error input[type=checkbox] {
  border-color: #ff0100;
}
.form-validation .form-error select.form-control {
  border: 1px solid #ff0100 !important;
}
.form-validation .form-error .text-danger {
  margin-top: 4px;
  padding-left: 1px;
}
.form-validation .service-upload.image.form-error {
  margin-bottom: 0;
  border: 1px solid #ff0100 !important;
}
.form-validation .service-upload.image.form-error .custom-text-danger {
  color: #ff0100;
}
.form-validation .custom-text-danger {
  color: #ff0100;
  margin-top: 4px;
  padding-left: 1px;
}

.alert.alert-danger > ul {
  margin-bottom: unset;
}

/*// error pages (begin)
.main{
  background-color: $form-red-color;
}
// error pages (end)*/
.dashboard-menu > ul > li > form > a {
  color: #757575;
  display: block;
  padding: 16px 20px;
}

.dashboard-menu > ul > li:hover > form > a,
.dashboard-menu > ul > li.active > form > a {
  color: #0de0fe;
}

.dashboard-menu > ul > li:hover {
  color: #0de0fe;
  cursor: pointer;
}
.dashboard-menu > ul > li:hover > form > a {
  cursor: pointer;
}

.blog-view .blog.blog-single-post .blog-content {
  border-top: 1px solid #f0f0f0;
  padding-top: 25px;
}

blockquote {
  box-shadow: inset 3px 0 0 0 #CCCCCC;
  padding-left: 1.5rem;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
  font-style: italic;
}

.main-wrapper header .navbar .nav.header-navbar-rht .nav-item .dropdown-menu .user-header .user-text h6 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 129px;
}

.header-navbar-rht li .dropdown-menu .dropdown-item:last-child {
  cursor: pointer;
}

.section-gray {
  background-color: #f8f9fa;
}

.section-white {
  background-color: #fff;
}

header .nav.header-navbar-rht .has-submenu > a {
  font-weight: 500;
}
header .nav.header-navbar-rht .has-submenu > a:hover {
  color: #0E82FD;
}

.header .container .navbar.navbar-expand-lg.header-nav .navbar-header {
  height: 74px;
}
.header .container .navbar.navbar-expand-lg.header-nav .navbar-header .navbar-brand.logo {
  height: 100%;
  width: 100%;
}
.header .container .navbar.navbar-expand-lg.header-nav .navbar-header .navbar-brand.logo > img.img-fluid {
  width: auto;
  max-height: 100%;
}
.header .container .navbar.navbar-expand-lg.header-nav .main-menu-wrapper .main-nav > li.text > a {
  padding: 25.5px 0 25.5px !important;
}

.blog.grid-blog .blog-image .img-fluid {
  aspect-ratio: 3/2;
  object-fit: cover;
}
.blog.grid-blog .blog-content .entry-meta.meta-item .author {
  width: calc(100% - 120px);
  margin-right: 10px;
}
.blog.grid-blog .blog-content .entry-meta.meta-item .author .post-author {
  width: 100%;
}
.blog.grid-blog .blog-content .entry-meta.meta-item .author .post-author > a {
  width: 100%;
}
.blog.grid-blog .blog-content .entry-meta.meta-item .author .post-author > a span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - (33px + 1.2rem));
}
.blog.grid-blog .blog-content .entry-meta.meta-item .author .post-author > a img {
  aspect-ratio: 1/1;
  object-fit: cover;
}
.blog.grid-blog .blog-content .entry-meta.meta-item .author .doctor-blog span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - (33px + 1.2rem));
}
.blog.grid-blog .blog-content .entry-meta.meta-item .author .doctor-blog img {
  aspect-ratio: 1/1;
  object-fit: cover;
}
.blog.grid-blog .blog-content .entry-meta.meta-item .date {
  flex: 0 0 110px;
  max-width: 110px;
}
.blog.grid-blog .blog-content .blog-title {
  height: 43px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog.grid-blog .blog-content .preface {
  margin: 0 0 15px;
  height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-sidebar .latest-posts .post-thumb img {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.banner-content .header-icon {
  right: 112px;
}

.faq-section {
  padding-top: 80px;
}

/*-----------------------------------*/
.clinic-section {
  background: white;
}
.clinic-section::before, .clinic-section::after {
  display: none;
}
.clinic-section .slide-nav-clinic button.owl-next,
.clinic-section .slide-nav-clinic button.owl-prev {
  width: 44px;
  height: 44px;
  font-size: 18px;
  color: #1E3259;
  background: white;
  box-shadow: 0 4px 14px rgba(141, 141, 141, 0.25);
  text-shadow: none;
  top: 0;
  cursor: pointer;
  border: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15px;
  border-radius: 50px;
}
.clinic-section .slide-nav-clinic button.owl-next:hover,
.clinic-section .slide-nav-clinic button.owl-prev:hover {
  color: white;
  background: #0E82FD;
}

/*-----------------------------------*/
.view-all-area .btn-view-all {
  font-weight: 500;
  font-size: 15px;
  color: #0E82FD;
  background: white;
  border: 2px solid #0E82FD;
  box-shadow: inset 0 0 0 0 #0E82FD;
  border-radius: 6px;
  min-width: 112px;
  padding: 7px 12px;
  width: unset;
  text-align: center;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.view-all-area .btn-view-all:hover {
  color: white;
  border-color: #0E82FD;
  background: #0E82FD;
  box-shadow: inset 0 0 0 50px #0E82FD;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 767.98px) {
  .view-all-area .btn-view-all {
    font-size: 14px;
  }
}

/*-----------------------------------*/
.articles-section .articles-info .articles-left .articles-img > img {
  aspect-ratio: 1/1;
  object-fit: cover;
}
.articles-section .articles-info .articles-right .articles-content .title {
  height: 38.38px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.articles-section .articles-info .articles-right .articles-content .title > a {
  width: 100%;
  height: 100%;
  display: block;
}
.articles-section .articles-info .articles-right .articles-content .preface {
  height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*-----------------------------------*/
.doctors-section .reviews-ratings p {
  margin-bottom: 18px;
}

/*-----------------------------------*/
.doctors-section .owl-stage-outer .owl-item .item .doctor-profile-widget .doc-pro-img .doctor-profile-img > img {
  aspect-ratio: 1;
  object-fit: cover;
}
.doctors-section .owl-stage-outer .owl-item .item .doctor-profile-widget .doc-content .doc-pro-info .doc-pro-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 165px;
}

.doctor-filter-select {
  width: 200px;
}

.footer-one .footer-bottom .copyright .policy-menu li:first-child {
  margin-right: 27.5px;
}

.clinic-section .image-upload {
  background-color: #fbfbfb;
  border: 2px dashed rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  text-align: center;
  position: relative;
  margin: 0 0 30px;
  padding: 70px 0;
}
.clinic-section .image-upload input[type=file] {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

#profile-settings #user-email {
  position: relative;
  z-index: 99;
}
#profile-settings #user-email .changeEmailButton {
  z-index: 999;
  position: absolute;
  right: 0;
  bottom: 0;
  min-height: 46px;
  min-width: 46px;
  border: 1px solid #09e5ab;
  background-color: #09e5ab;
  color: white;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

#profile-settings #user-profile-photo .change-photo-btn {
  /*color: $white;
  display: block;
  width: 100%;
  height: 100%;
  @extend %flex-align-center;*/
}
#profile-settings #user-profile-photo .change-photo-btn:hover {
  color: white;
}

#changeProfilePhotoModal .modal-body {
  min-height: 300px;
  max-height: 80vh;
  padding: 0;
}
#changeProfilePhotoModal .modal-body .crop-frame {
  height: auto;
  max-height: 80vh;
  width: 100%;
}
#changeProfilePhotoModal .modal-footer button {
  color: white;
}
#changeProfilePhotoModal .modal-footer button.si_accept_cancel {
  background-color: #6B7280;
}
#changeProfilePhotoModal .modal-footer button.si_accept_confirm {
  background-color: #0E82FD;
}

#user-profile-photo .change-photo-btn2 label {
  margin: 0 0 10px;
  background-color: #20c0f3;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  text-align: center;
  width: 150px;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50px;
  height: 40px;
}
#user-profile-photo .change-photo-btn2 label i {
  cursor: pointer;
  margin-right: 8px;
}
#user-profile-photo .change-photo-btn2 label span {
  cursor: pointer;
}
#user-profile-photo .change-photo-btn2 input.upload {
  width: 100%;
  border-radius: 50px;
  display: none;
}

.upload-images > img {
  aspect-ratio: 1/1;
  object-fit: cover;
}

#profile-settings .clinic-images .upload-images {
  margin-left: 0;
  margin-right: 20px;
}

.education-cont:not(:first-child) > div, .experience-cont:not(:first-child) > div, .awards-cont:not(:first-child) > div {
  padding-top: 20px;
  border-top: 1px solid #f0f0f0;
}

.doctor-content .search-body .doctor-filter-info .doctors-found {
  padding-bottom: 0;
}
.doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left {
  width: calc(100% - 240px);
}
.doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left .doc-info-cont {
  width: calc(100% - 184px);
}
.doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left .doc-info-cont .doc-name {
  width: 100%;
}
.doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left .doc-info-cont .doc-name > a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 70px);
}

.doctor-widget-one .doctor-img img {
  object-fit: cover;
}

.doctor-profile-widget.doc-grid .doc-pro-img .doctor-profile-img img {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.doctor-detail-page .doctor-img img {
  aspect-ratio: 1/1;
  object-fit: cover;
}
.doctor-detail-page .clinic-details ul li a img {
  width: 40px;
  border-radius: 5px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.doctor-detail-page .membership-list .experience-list:before {
  display: none;
}
.doctor-detail-page .membership-list .experience-list > li {
  list-style: decimal;
  margin-left: 40px;
}
.doctor-detail-page .membership-list .experience-list > li .experience-content {
  margin-left: 0;
}

#add-review-btn .review-button {
  font-weight: 700;
  font-size: 14px;
  min-width: 100px;
  padding: 9px 17px;
}

.review-listing {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.review-listing > ul li .comment .comment-body {
  width: 100%;
}
.review-listing .review-pagination .blog-pagination .pagination {
  margin: 30px 0;
}

.write-review {
  border-top: 1px solid #f5f7fc;
  padding-top: 30px;
  margin-top: 30px;
}

#doc_reviews .rating {
  margin-bottom: 25px;
}
#doc_reviews .rating .rating-avg {
  margin-right: 8px;
  line-height: 1;
  font-size: 15px;
}
#doc_reviews .rating .fa-star {
  margin: 0 2px;
}
#doc_reviews .rating .fa-star:first-child {
  margin-left: 0;
}
#doc_reviews .rating .fa-star:last-child {
  margin-right: 0;
}
#doc_reviews .rating .dot {
  background: #757575;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  margin: 0 8px;
}
#doc_reviews .rating .rating-count {
  line-height: 1;
  font-size: 12px;
}

.profile-sidebar .profile-info-widget .profile-det-info .rating {
  margin-bottom: unset;
  margin-top: 23px;
  justify-content: center;
  -webkit-justify-content: center;
}

#book-appointment .submit-section.submit-btn-bottom {
  margin-bottom: 26.5px;
  margin-top: 22.5px;
}
#book-appointment .submit-section.submit-btn-bottom > button {
  background-color: #09dca4 !important;
  border-color: #09dca4;
}

#save-patient-profile-settings-btn .submit-btn {
  font-weight: 700;
  font-size: 14px;
  min-width: 100px;
  padding: 9px 17px;
}

.login-content-info .account-content .signup-option-btns {
  margin-bottom: 20px;
}

fieldset#first .widget-setcount ul li:first-child:before {
  right: -95px;
}
fieldset#first .widget-btn > a.disabled {
  background-color: #c9e3fe;
  border-color: #c9e3fe;
  pointer-events: none;
  text-decoration: none;
}

.signup-option-btns > input {
  display: none;
}
.signup-option-btns .signup-btn-info:hover {
  cursor: pointer;
  background: whitesmoke;
  border: 1px solid #e4e4e8;
  box-shadow: none;
}
.signup-option-btns .signup-btn-info:hover .signup-arrow {
  background: white;
  color: black;
}
.signup-option-btns .signup-btn-info.active {
  background: white;
  border: 1px solid #0e82fd;
  box-shadow: 0px 22px 38px rgba(0, 0, 0, 0.12);
  -webkit-transition: 0.7s;
  -ms-transition: 0.7s;
  transition: 0.7s;
}
.signup-option-btns .signup-btn-info.active .signup-arrow {
  background: #0e82fd;
  color: white;
  -webkit-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}

/*fieldset#third #verify-account .forgot-link {
  padding: 0;
  border: none;
  background-color: transparent;
}*/
/*.form-control:disabled {
  background-color: #e9ecef $i;
}*/
.login-content-info .account-info .remember-password-area {
  margin-bottom: 10px;
}
.login-content-info .account-info .remember-password-area .forgot-link {
  margin-bottom: 0;
}

.doctor-content .search-left-side-bar .collapse.scroll-area .filter-collapse > ul {
  max-height: 188px;
  overflow: auto;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.doctor-content .search-left-side-bar .collapse.scroll-area .filter-collapse > ul::-webkit-scrollbar {
  width: 7px;
}
.doctor-content .search-left-side-bar .collapse.scroll-area .filter-collapse > ul::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #F1F1F1;
  border-radius: 3px;
}
.doctor-content .search-left-side-bar .collapse.scroll-area .filter-collapse > ul::-webkit-scrollbar-thumb {
  background: #C1C1C1;
  border-radius: 3px;
}
.doctor-content .search-left-side-bar .collapse.scroll-area .filter-collapse > ul::-webkit-scrollbar-thumb:hover {
  background: #A8A8A8;
}
.doctor-content .search-left-side-bar .collapse.scroll-area .filter-collapse > ul li .custom_check .checkmark::after {
  width: 9px;
  height: 9px;
}

#rating-star .review-stars {
  --star-size: 15px;
  --star-color: #dedfe0;
  --star-background: #f4c150;
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: "Poppins", sans-serif;
  margin: 0 8px;
}
#rating-star .review-stars::before {
  content: "\f005\f005\f005\f005\f005";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#rating-star .dot {
  margin-right: 8px;
}
#rating-star .dot > i {
  background: #757575;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  display: inline-block;
}

/*.doctor-content .search-body .doctor-widget-one .clini-infos {
  .social-media-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    @extend %flex-align-center-row-flex-start;
    >li {
      margin-right: 15px;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
      >a {
        color: #6B7280;
        -webkit-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        height: 40px;
        width: 40px;
        @extend %flex-align-center;
        border: 1px solid #cccccc;
        border-radius: 0.375rem;
        >i {
          font-size: 20px;
        }
      }
    }
  }
}*/
.doctor-detail-page .doctor-widget .doc-info-right .doctor-action > a {
  width: 38px;
  height: 38px;
  font-size: 18px;
  padding: 0;
}

.doctor-detail-page .card .card-body .doctor-widget .doc-info-left .doc-info-cont .clinic-services .more-button {
  margin-left: 12px;
  font-size: 12px;
  line-height: 1.5;
}
.doctor-detail-page .card .card-body .doctor-widget .doc-info-left .doc-info-cont .clinic-services .more-button > i {
  margin-left: 5px;
  line-height: 1.5;
}

/*#review-doctor #review-rating .star-rating input[type=radio]:checked ~ label {
  color: #bbb;
}
#review-doctor #review-rating .star-rating label:hover, .star-rating label:hover ~ label {
  color: #f2b600;
}*/
#review-doctor #review-rating .star-rating label:hover, .star-rating label:hover ~ label {
  color: #bbb;
}

#review-doctor #review-rating .star-rating label.fill {
  color: #f2b600;
}
#review-doctor #review-rating .star-rating label.empty {
  color: #bbb;
}

.pass-group .toggle-password-repeat {
  font-size: 16px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: #797979;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.pass-group .toggle-password-repeat:hover {
  background-color: #F3F3F3;
}

#change-password .pass-area {
  position: relative;
}
#change-password .pass-area .toggle-password, #change-password .pass-area .toggle-password-new, #change-password .pass-area .toggle-password-repeat {
  font-size: 16px;
  position: absolute;
  bottom: 7px;
  right: 10px;
  color: #797979;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
#change-password .pass-area .toggle-password:hover, #change-password .pass-area .toggle-password-new:hover, #change-password .pass-area .toggle-password-repeat:hover {
  background-color: #F3F3F3;
}

.clinic-maps .mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 270px;
}
.clinic-maps .gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 270px;
}
.clinic-maps .gmap_iframe {
  width: 100% !important;
  height: 270px !important;
}

.doctor-detail-page .location-list {
  border: none;
  padding: 0;
}

#doctors-found-area section {
  font-weight: 500;
  font-size: 16px;
  color: #8C97B0;
}
#doctors-found-area section span {
  color: #1F2937;
}
#doctors-found-area .filterItem {
  margin-left: 12px;
  border-radius: 15px;
  padding: 6px 12px;
  background: #F2F6F6;
  font-size: 12px;
}
#doctors-found-area .filterItem span {
  margin-left: 4px;
  font-weight: 600;
}
#doctors-found-area .filterItem .removeFilter {
  margin-left: 8px;
  font-size: 14px;
}
#doctors-found-area .filterItem .removeFilter i {
  color: #dcdcdc;
}
#doctors-found-area .filterItem .removeFilter i:hover {
  color: #b2b2b2;
}

.blogs .blog-sidebar .category-widget .categories .active a, .blogs .blog-sidebar .category-widget .categories .active span {
  color: #20c0f3;
}

.testimonial-section .testimonial-slider .testimonial-grid .testimonial-info .testimonial-img > img {
  aspect-ratio: 1;
  object-fit: cover;
}

.chatbot-area {
  position: fixed;
  right: 25px;
  bottom: 25px;
  cursor: pointer;
  display: block;
  z-index: 99999;
  max-width: 136px;
  max-height: 136px;
}

/********************************************************************************************************************/
/********************************************************************************************************************/
/********************************************************************************************************************/
/************************************ ######## Responsive Mobile Screen ######## ************************************/
/********************************************************************************************************************/
/********************************************************************************************************************/
/********************************************************************************************************************/
@media only screen and (max-width: 1399.98px) {
  .doctors-section .owl-stage-outer .owl-item .item .doctor-profile-widget .doc-content .doc-pro-info .doc-pro-name {
    max-width: 145px;
  }
  .banner-content .header-icon {
    right: 22px;
  }
  .doctor-card .card-body .doctor-widget-one .doc-info-left .doc-info-cont .doc-name > a {
    max-width: calc(100% - 50px);
  }
}
@media only screen and ((min-width: 991.98px) and (max-width: 1198.98px)) {
  .doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left {
    width: calc(100% - 200px);
  }
  .doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left .doctor-img {
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
    margin-right: 18px;
    width: 150px;
    height: 150px;
  }
  .doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left .doctor-img > a > img {
    width: 150px;
    height: 150px;
  }
  .doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left .doc-info-cont .doc-name {
    margin-bottom: 4px;
    font-size: 18px;
  }
  .doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left .doc-info-cont .doc-name > a {
    max-width: calc(100% - 40px);
  }
  .doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left .doc-info-cont .doc-name > i {
    font-size: 14px;
    margin-left: 6px;
  }
  .doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left .doc-info-cont .doc-speciality {
    font-size: 12px;
    margin-bottom: 16px;
  }
  .doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left .doc-info-cont .clinic-details {
    margin-bottom: 7px;
  }
  .doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left .doc-info-cont .clinic-details .doc-location {
    font-size: 13px;
  }
  .doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left .doc-info-cont .clinic-details .doc-location:not(:last-child) {
    margin-bottom: 7px;
  }
  .doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left .doc-info-cont .reviews-ratings > p {
    font-size: 11px;
  }
  .doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left .doc-info-cont .reviews-ratings > p > span {
    font-size: 13px;
  }
  .doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-right {
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    max-width: 200px;
  }
}
@media only screen and (min-width: 991.98px) {
  .home-banner .banner-content {
    padding-bottom: 100px;
  }
  .banner-section .search-box-one {
    min-width: 700px;
  }
}
@media only screen and (max-width: 767.98px) {
  .doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left {
    width: 100%;
  }
  .doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left .doc-info-cont {
    width: 65%;
    margin: auto;
  }
  .doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left .doc-info-cont .doc-name {
    width: 100%;
  }
  .doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left .doc-info-cont .doc-name > a {
    max-width: calc(100% - 24px);
  }
  .doctor-content .search-body .doc-info-right .book-appoint {
    margin-top: 20px;
  }
  .faq-section {
    padding-top: 40px;
  }
  .doctors-section .owl-nav.nav-control {
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 767.98px) {
  /*.articles-section .articles-info .articles-right .articles-content .preface{
    height: 39px;
  }*/
  .banner-section .search-box-one .search-input.search-line {
    width: 48%;
  }
  .banner-section .search-box-one .search-input.search-map-line {
    width: 29%;
  }
  .banner-section .search-box-one .search-input.search-map-line:before {
    display: none;
  }
}
@media only screen and (max-width: 580px) {
  .doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left .doc-info-cont {
    width: 86%;
  }
}
@media only screen and (max-width: 490px) {
  .doctor-content .search-body .doctor-card .card-body .doctor-widget-one .doc-info-left .doc-info-cont {
    width: 100%;
  }
}

/*# sourceMappingURL=layout.css.map */
