<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:remove="all">Appointment Information</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style type="text/css">
        body {
            font-family: calibri, 'DejaVu Sans', Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body>

    <p>Doctor Name: <b><th:block th:text="${doctorName}"></th:block></b></p>
    <p>Short Explanation: <b><th:block th:text="${shortExplanation}"></th:block></b></p>

    <br>
    <p>
        <!--<img src="images/spring.png" data-th-src="|cid:springLogo|" height="80" />-->
    </p>
    <p>
        Regards, <br />
        &emsp; <em>The Heal on Trip Team</em>
    </p>

</body>
</html>
