<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:remove="all" th:text="${subject}"></title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style type="text/css">
        body {
            font-family: calibri, 'DejaVu Sans', Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body>

    <a th:href="${url}" target="_blank">
        Reset Password
    </a>

    <p>
        Regards, <br />
        &emsp; <em>The Heal on Trip Team</em>
    </p>

</body>
</html>
