<!-- Footer -->
<footer class="footer footer-one">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img th:src="@{/assets/img/logo-footer.png}" alt="logo">
                        </div>
                        <div class="footer-about-content">
                            <p>
                                Health Beyond Borders: Path to Excellence in Turkish Healthcare, Your Journey Begins Today.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">For Patients</h2>
                        <ul>
                            <li><a th:href="@{/search}">Search for Doctors</a></li>
                            <li><a th:href="@{/login}">Login</a></li>
                            <li><a th:href="@{/register}">Register</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">For Doctors</h2>
                        <ul>
                            <li><a th:href="@{/login}">Login</a></li>
                            <li><a th:href="@{/register}">Register</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-5">
                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title">Contact Us</h2>
                        <div class="footer-contact-info">
                            <div class="footer-address mb-0">
                                <p><i class="feather-mail"></i> healontrip@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-7">
                    <div class="footer-widget">
                        <h2 class="footer-title">Join Our Newsletter</h2>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="email" class="form-control" placeholder="Enter Email">
                                <button type="submit" class="btn">Submit</button>
                            </form>
                        </div>
                        <div class="social-icon">
                            <ul>
                                <li>
                                    <a th:href="@{#}" target="_blank"><i class="fab fa-facebook"></i> </a>
                                </li>
                                <li>
                                    <a th:href="@{#}" target="_blank"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a th:href="@{#}" target="_blank"><i class="fab fa-twitter"></i> </a>
                                </li>
                                <li>
                                    <a th:href="@{#}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <!-- Copyright -->
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="copyright-text">
                            <p class="mb-0"> Copyright © 2024 HealonTrip - All Rights Reserved</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">

                        <!-- Copyright Menu -->
                        <div class="copyright-menu">
                            <ul class="policy-menu">
                                <li>
                                    <a th:href="@{/privacy-policy}">
                                        Privacy Policy
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/terms-condition}">
                                        Terms and Conditions
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Copyright Menu -->

                    </div>
                </div>
            </div>
            <!-- /Copyright -->
        </div>
    </div>
</footer>
<!-- /Footer -->