
<header class="header">
    <nav class="navbar navbar-expand-lg header-nav">
        <div class="navbar-header">
            <a id="mobile_btn" href="javascript:void(0);">
                            <span class="bar-icon bar-icon-one">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
            </a>
            <a th:href="@{/}" class="navbar-brand logo">
                <img th:src="@{/assets/img/logo.png}" class="img-fluid" alt="Logo">
            </a>
        </div>
        <div class="main-menu-wrapper">
            <div class="menu-header">
                <a th:href="@{/}" class="menu-logo">
                    <img th:src="@{/assets/img/logo.png}" class="img-fluid" alt="Logo">
                </a>
                <a id="menu_close" class="menu-close" href="javascript:void(0);">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <ul class="main-nav">
                <li class="has-submenu">
                    <a th:href="@{/patient/dashboard}">Patient Dashboard</a>
                </li>
                <li class="has-submenu">
                    <a th:href="@{/doctor/dashboard}">Doctor Dashboard</a>
                </li>

                <li th:if="${session.userEmail == null}" class="login-link">
                    <a th:href="@{/patient/login}">Login / Signup</a>
                </li>
                <li th:unless="${session.userEmail == null}" class="login-link">
                    <b th:text="${session.userEmail}"></b>
                </li>

            </ul>
        </div>
        <ul class="nav header-navbar-rht">

            <li th:if="${session.userEmail == null}" class="nav-item">
                <a class="nav-link header-login btn-one-light" th:href="@{/patient/login}">login / Signup </a>
            </li>
            <li th:unless="${session.userEmail == null}" class="nav-item">
                <b th:text="${session.userEmail}"></b>
            </li>

        </ul>
    </nav>
</header>