<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <th:block th:include="fragments/head"></th:block>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" th:href="@{/assets/plugins/fontawesome/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/plugins/fontawesome/css/all.min.css}">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/feather.css}">

    <!-- Main CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/custom.css}">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/layout.css}">

</head>
<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <th:block th:include="fragments/header"></th:block>
        <!-- /Header -->

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar-two">
            <div class="container">
                <div class="row align-items-center inner-banner">
                    <div class="col-md-12 col-12 text-center">
                        <h2 class="breadcrumb-title">Blog Details</h2>
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                                <li class="breadcrumb-item" aria-current="page">Blog Details</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="content">
            <div class="container">

                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="blog-view">
                            <div class="blog blog-single-post">
                                <div class="blog-image">
                                    <a href="javascript:void(0);">
                                        <img th:alt="${blog.blogImgAlt}" th:src="@{'/' + ${blog.blogImgSrc}}" class="img-fluid">
                                    </a>
                                </div>
                                <h3 class="blog-title" th:text="${blog.title}"></h3>
                                <div class="blog-info clearfix">
                                    <div class="post-left">
                                        <ul>
                                            <li>
                                                <div class="post-author">
                                                    <a th:href="@{'/doctor/' + ${blog.userName}}">
                                                        <img th:src="@{'/' + ${blog.userImgSrc}}" th:alt="${blog.userImgAlt}">
                                                        <span th:text="${blog.extendedUserName}"></span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <i class="far fa-calendar"></i>
                                                <x-text th:text="${blog.createdAt}"></x-text>
                                            </li>
                                            <li>
                                                <i class="fa fa-tags"></i>
                                                <x-text th:text="${blog.categoryName}"></x-text>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog-content" th:utext="${blog.detail}"></div>
                            </div>

                            <div class="card author-widget clearfix">
                                <div class="card-header">
                                    <h4 class="card-title">About Author</h4>
                                </div>
                                <div class="card-body">
                                    <div class="about-author">
                                        <div class="about-author-img">
                                            <div class="author-img-wrap">
                                                <a th:href="@{'/doctor/' + ${blog.userName}}">
                                                    <img class="img-fluid rounded-circle" th:src="@{'/' + ${blog.userImgSrc}}" th:alt="${blog.userImgAlt}">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="author-details">
                                            <a th:href="@{'/doctor/' + ${blog.userName}}" class="blog-author-name">
                                                <span th:text="${blog.extendedUserName}"></span>
                                            </a>
                                            <p class="mb-0" th:text="${blog.biography}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Blog Sidebar -->
                    <div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar blog-sidebar">

                        <!-- Latest Posts -->
                        <div class="card post-widget">
                            <div class="card-header">
                                <h4 class="card-title">Latest Posts</h4>
                            </div>
                            <div class="card-body">
                                <ul class="latest-posts">
                                    <th:block th:each="blog: ${latestBlogs}">

                                        <li>
                                            <div class="post-thumb">
                                                <a th:href="@{'/blogs/' + ${blog.slug}}">
                                                    <img class="img-fluid" th:src="@{'/' + ${blog.blogImgSrc}}" th:alt="${blog.title}">
                                                </a>
                                            </div>
                                            <div class="post-info">
                                                <h4>
                                                    <a th:href="@{'/blogs/' + ${blog.slug}}">
                                                        <x-text th:text="${blog.title}"></x-text>
                                                    </a>
                                                </h4>
                                                <p>
                                                    <i class="far fa-clock"></i> <x-text th:text="${blog.createdAt}"></x-text>
                                                </p>
                                            </div>
                                        </li>

                                    </th:block>
                                </ul>
                            </div>
                        </div>
                        <!-- /Latest Posts -->

                        <!-- Categories -->
                        <div class="card category-widget">
                            <div class="card-header">
                                <h4 class="card-title">Blog Categories</h4>
                            </div>
                            <div class="card-body">
                                <ul class="categories">
                                    <li><a href="#">Cardiology <span>(62)</span></a></li>
                                    <li><a href="#">Health Care <span>(27)</span></a></li>
                                    <li><a href="#">Nutritions <span>(41)</span></a></li>
                                    <li><a href="#">Health Tips <span>(16)</span></a></li>
                                    <li><a href="#">Medical Research <span>(55)</span></a></li>
                                    <li><a href="#">Health Treatment <span>(07)</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /Categories -->

                    </div>
                    <!-- /Blog Sidebar -->

                </div>
            </div>

        </div>
        <!-- /Page Content -->

        <!-- Footer -->
        <th:block th:include="fragments/footer"></th:block>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->


    <!-- jQuery -->
    <script th:src="@{/assets/js/jquery-3.6.4.min.js}"></script>

    <!-- Bootstrap Core JS -->
    <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>

    <!-- Sticky Sidebar JS -->
    <script th:src="@{/assets/plugins/theia-sticky-sidebar/ResizeSensor.js}"></script>
    <script th:src="@{/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js}"></script>

    <!-- Custom JS -->
    <script th:src="@{/assets/js/script.js}"></script>

</body>
</html>