<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <th:block th:include="fragments/head"></th:block>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" th:href="@{/assets/plugins/fontawesome/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/plugins/fontawesome/css/all.min.css}">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/feather.css}">

    <!-- Main CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/custom.css}">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/layout.css}">

</head>
<body>

    <!-- Main Wrapper -->
    <div id="error-page" class="main-wrapper">

        <!-- Coming Soon -->
        <section class="error-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-12 text-center">
                        <div class="error-info">
                            <div class="error-img">
                                <img src="assets/img/coming-soon.png" class="img-fluid" alt="">
                            </div>
                            <div class="error-content">
                                <h2>We're Launching Soon!</h2>
                                <p>We're currently working hard on this page.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Coming Soon -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script th:src="@{/assets/js/jquery-3.6.4.min.js}"></script>

    <!-- Bootstrap Bundle JS -->
    <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>

    <!-- Feather Icon JS -->
    <script th:src="@{/assets/js/feather.min.js}"></script>

    <!-- Custom JS -->
    <script th:src="@{/assets/js/script.js}"></script>

</body>
</html>