<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <th:block th:include="fragments/head"></th:block>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" th:href="@{/assets/plugins/fontawesome/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/plugins/fontawesome/css/all.min.css}">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/feather.css}">

    <!-- Select2 CSS -->
    <link rel="stylesheet" th:href="@{/assets/plugins/select2/css/select2.min.css}">

    <!-- Jquery CSS -->
    <link rel="stylesheet" th:href="@{/assets/plugins/jquery-ui/jquery-ui.css}">

    <!-- Main CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/custom.css}">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/layout.css}">

</head>
<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <th:block th:include="fragments/header"></th:block>
        <!-- /Header -->

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar-two">
            <div class="container">
                <div class="row align-items-center inner-banner">
                    <div class="col-md-12 col-12 text-center">
                        <h2 class="breadcrumb-title">Search Doctors</h2>
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                                <li class="breadcrumb-item" aria-current="page">Search Doctors</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="doctor-content content">
            <div class="container">

                <!-- Doctor Search List -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 map-view">
                        <div class="row">
                            <div class="col-lg-3 theiaStickySidebar search-left-side-bar">
                                <div class="filter-contents search-filter">
                                    <div class="filter-header">
                                        <h4 class="filter-title">Filter</h4>
                                    </div>
                                    <div class="filter-details">

                                        <!-- Filter Grid -->
                                        <div id="gender" class="filter-grid">
                                            <h4>
                                                <a href="#collapseone" data-bs-toggle="collapse">Gender</a>
                                            </h4>
                                            <div id="collapseone" class="collapse scroll-area show">
                                                <div class="filter-collapse">
                                                    <ul>

                                                        <th:block th:each="gender: ${filterSelectedValues.genderList}">

                                                            <li>
                                                                <label class="custom_check d-inline-flex">
                                                                    <input type="checkbox" th:value="${gender.id}" checked>
                                                                    <span class="checkmark"></span>
                                                                    [[${gender.name}]] Gender
                                                                </label>
                                                            </li>

                                                        </th:block>

                                                        <th:block th:each="gender: ${filterUnselectedValues.genderList}">

                                                            <li>
                                                                <label class="custom_check d-inline-flex">
                                                                    <input type="checkbox" th:value="${gender.id}">
                                                                    <span class="checkmark"></span>
                                                                    [[${gender.name}]] Gender
                                                                </label>
                                                            </li>

                                                        </th:block>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Filter Grid -->

                                        <!-- Filter Grid -->
                                        <div id="speciality" class="filter-grid">
                                            <h4>
                                                <a href="#collapsefour" data-bs-toggle="collapse">Speciality</a>
                                            </h4>
                                            <div id="collapsefour" class="collapse scroll-area show">
                                                <div class="filter-collapse">
                                                    <ul>

                                                        <th:block th:each="specialist: ${filterSelectedValues.specialityList}">

                                                            <li>
                                                                <label class="custom_check d-inline-flex">
                                                                    <input type="checkbox" th:value="${specialist.id}" checked>
                                                                    <span class="checkmark"></span>
                                                                    [[${specialist.name}]]
                                                                </label>
                                                            </li>

                                                        </th:block>

                                                        <th:block th:each="specialist: ${filterUnselectedValues.specialityList}">

                                                            <li>
                                                                <label class="custom_check d-inline-flex">
                                                                    <input type="checkbox" th:value="${specialist.id}">
                                                                    <span class="checkmark"></span>
                                                                    [[${specialist.name}]]
                                                                </label>
                                                            </li>

                                                        </th:block>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Filter Grid -->

                                        <!-- Filter Grid -->
                                        <div id="experience" class="filter-grid">
                                            <h4>
                                                <a href="#collapsefive" data-bs-toggle="collapse">Experience</a>
                                            </h4>
                                            <div id="collapsefive" class=" collapse scroll-area show">
                                                <div class="filter-collapse">
                                                    <ul>

                                                        <th:block th:each="experience: ${filterSelectedValues.experienceYearList}">

                                                            <li>
                                                                <label class="custom_check d-inline-flex">
                                                                    <input type="checkbox" th:value="${experience.id}" checked>
                                                                    <span class="checkmark"></span>
                                                                    [[${experience.name}]]
                                                                </label>
                                                            </li>

                                                        </th:block>

                                                        <th:block th:each="experience: ${filterUnselectedValues.experienceYearList}">

                                                            <li>
                                                                <label class="custom_check d-inline-flex">
                                                                    <input type="checkbox" th:value="${experience.id}">
                                                                    <span class="checkmark"></span>
                                                                    [[${experience.name}]]
                                                                </label>
                                                            </li>

                                                        </th:block>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Filter Grid -->

                                        <!-- Filter Grid -->
                                        <!--<div id="rating" class="filter-grid">
                                            <h4>
                                                <a href="#collapseseven" data-bs-toggle="collapse">By Rating</a>
                                            </h4>
                                            <div id="collapseseven" class="collapse scroll-area show">
                                                <div class="filter-collapse">
                                                    <ul>
                                                        <li>
                                                            <label class="custom_check rating_custom_check d-inline-flex">
                                                                <input type="checkbox" value="5">
                                                                <span class="checkmark"></span>
                                                                <div class="rating">
                                                                    <i class="fas fa-star filled"></i>
                                                                    <span>4.5 stars and above</span>
                                                                </div>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label class="custom_check rating_custom_check d-inline-flex">
                                                                <input type="checkbox" value="4">
                                                                <span class="checkmark"></span>
                                                                <div class="rating">
                                                                    <i class="fas fa-star filled"></i>
                                                                    <span>4 stars and above</span>
                                                                </div>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label class="custom_check rating_custom_check d-inline-flex">
                                                                <input type="checkbox" value="3">
                                                                <span class="checkmark"></span>
                                                                <div class="rating">
                                                                    <i class="fas fa-star filled"></i>
                                                                    <span>3 stars and above</span>
                                                                </div>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label class="custom_check rating_custom_check d-inline-flex">
                                                                <input type="checkbox" value="2">
                                                                <span class="checkmark"></span>
                                                                <div class="rating">
                                                                    <i class="fas fa-star filled"></i>
                                                                    <span>2 stars and above</span>
                                                                </div>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label class="custom_check rating_custom_check d-inline-flex">
                                                                <input type="checkbox" value="1">
                                                                <span class="checkmark"></span>
                                                                <div class="rating">
                                                                    <i class="fas fa-star filled"></i>
                                                                    <span>1 stars and above</span>
                                                                </div>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>-->
                                        <!-- /Filter Grid -->

                                        <!-- Filter Btn -->
                                        <div class="filter-btn apply-btn">
                                            <div class="row">
                                                <div class="col-6">
                                                    <a href="javascript:void(0);" id="apply-filter-btn" class="btn btn-primary">Apply</a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="javascript:void(0);" class="btn btn-outline-primary">Reset</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Filter Btn -->

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-9 search-body">
                                <div class="doctor-filter-info">
                                    <div class="doctor-filter-inner">
                                        <div id="doctors-found-area" class="doctors-found">

                                            <section>
                                                <span>[[${doctorCount}]] Doctors found</span>
                                            </section>

                                            <section id="search" class="filterItem" th:if="${filterSearchValue != null}">
                                                <input type="hidden" th:value="${filterSearchValue}">
                                                Search:
                                                <span>[[${filterSearchValue}]]</span>
                                                <a href="javascript:void(0);" class="removeFilter" data-value="q">
                                                    <i class="fa-solid fa-circle-xmark"></i>
                                                </a>
                                            </section>

                                            <section id="location" class="filterItem" th:if="${filterLocationValue != null}">
                                                <input type="hidden" th:value="${filterLocationValue}">
                                                Location:
                                                <span>[[${filterLocationValue}]]</span>
                                                <a href="javascript:void(0);" class="removeFilter" data-value="loc">
                                                    <i class="fa-solid fa-circle-xmark"></i>
                                                </a>
                                            </section>

                                        </div>
                                        <div class="doctor-filter-option">
                                            <div class="doctor-filter-sort">
                                                <p>Sort By</p>
                                                <div class="doctor-filter-select">
                                                    <select id="sort-by" class="select" data-value="sort">
                                                        <option value="name_asc" th:attrappend="selected=${filterSortByValue == 'name_asc'} ? 'selected'">Name: A to Z</option>
                                                        <option value="name_desc" th:attrappend="selected=${filterSortByValue == 'name_desc'} ? 'selected'">Name: Z to A</option>
                                                        <option value="rate_desc" th:attrappend="selected=${filterSortByValue == 'rate_desc'} ? 'selected'">Most rated</option>
                                                        <option value="review_desc" th:attrappend="selected=${filterSortByValue == 'review_desc'} ? 'selected'">Most reviewed</option>
                                                        <option value="exp_desc" th:attrappend="selected=${filterSortByValue == 'exp_desc'} ? 'selected'">Most experienced</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <th:block th:each="doctor: ${doctors}">

                                    <div class="card doctor-card" th:data="${doctor.userId}">
                                        <div class="card-body">
                                            <div class="doctor-widget-one">
                                                <div class="doc-info-left">
                                                    <div class="doctor-img">
                                                        <a th:href="@{'/doctor/' + ${doctor.userName}}">
                                                            <img th:src="@{'/' + ${doctor.userImgSrc}}" class="img-fluid" th:alt="${doctor.userImgAlt}">
                                                        </a>
                                                    </div>
                                                    <div class="doc-info-cont">
                                                        <h4 class="doc-name" th:data="${doctor.extendedUserName}">
                                                            <a th:href="@{'/doctor/' + ${doctor.userName}}">
                                                                [[${doctor.extendedUserName}]]
                                                            </a>
                                                            <i class="fas fa-circle-check"></i>
                                                        </h4>
                                                        <p class="doc-speciality">[[${doctor.infoShort}]]</p>
                                                        <div class="clinic-details">
                                                            <p class="doc-location">
                                                                <i class="feather-map-pin"></i>
                                                                [[${doctor.addressShort}]]
                                                            </p>
                                                            <p class="doc-location">
                                                                <i class="feather-award"></i> [[${doctor.experienceYear}]] Years of Experience
                                                            </p>
                                                        </div>
                                                        <div class="reviews-ratings">
                                                            <p>
                                                                <span>
                                                                    <i class="fas fa-star"></i> [[${doctor.reviews.ratingAvg}]]
                                                                </span> ([[${doctor.reviews.ratingCount}]] Reviews)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="doc-info-right">
                                                    <!--<div class="clini-infos">
                                                        <ul class="social-media-icons">
                                                            <li>
                                                                <a href="#" target="_blank"><i class="fab fa-facebook"></i> </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>-->
                                                    <div class="clinic-booking book-appoint">
                                                        <a id="book-appointment-button" th:data="${doctor.userId}" class="btn btn-primary" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#bookAppointmentModal">Book Appointment</a>
                                                        <a class="btn btn-primary-light" th:href="@{'/doctor/' + ${doctor.userName}}">View Profile</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </th:block>

                                <!--<div class="row">
                                    <div class="col-sm-12">
                                        <div class="blog-pagination rev-page">
                                            <nav>
                                                <ul class="pagination justify-content-center">
                                                    <li class="page-item disabled">
                                                        <a class="page-link page-prev" href="#" tabindex="-1"><i class="feather-chevrons-left me-1"></i> PREV</a>
                                                    </li>
                                                    <li class="page-item active">
                                                        <a class="page-link" href="#">1</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#">2</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#">...</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#">10</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link page-next" href="#">NEXT <i class="feather-chevrons-right ms-1"></i></a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-12 theiaStickySidebar map-right">
                        <div id="map" class="map-listing"></div>
                    </div>
                </div>
                <!-- /Doctor Search List -->

            </div>
        </div>
        <!-- /Page Content -->

        <!-- Footer -->
        <th:block th:include="fragments/footer"></th:block>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- ChatBot Assistant -->
    <th:block th:include="fragments/chatbot"></th:block>
    <!-- /ChatBot Assistant -->

    <!-- Book Appointment. Are you sure? -->
    <!-- Model -->
    <div class="modal fade" id="bookAppointmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="acc_membership_title">Book Appointment?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <!-- Book Appointment Form -->
                    <form method="post" id="book-appointment" role="form" autocomplete="off" class="form-validation" th:action="@{'/doctor/book-appointment'}">

                        <div class="row form-row">
                            <input id="appointment-doctorId" type="hidden" readonly>

                            <div id="appointment-doctorName" class="col-md-12">
                                <div class="form-group">
                                    <label>Name of Doctor <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" readonly>
                                </div>
                            </div>

                            <div id="preferred-communication-method" class="col-md-12">
                                <div id="appointment-communicationId" class="form-group">
                                    <label>Preferred Communication Method <span class="text-danger">*</span></label>
                                    <select class="form-select form-control">
                                        <option value="" selected="selected">Select</option>
                                        <th:block th:each="communication: ${communications}">
                                            <option th:value="${communication.id}"><x-text th:text="${communication.name}"></x-text></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div id="appointment-shortExplanation" class="form-group">
                                    <label>Short Explanation <span class="text-danger">*</span></label>
                                    <textarea class="form-control" rows="5" placeholder="You can write a clarification about your disease"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="terms-accept">
                                    <div id="appointment-termsAccept" class="custom-checkbox">
                                        <input type="checkbox" id="appointment-terms-accept">
                                        <label for="appointment-terms-accept">I have read and accept <a th:href="@{#}">Terms &amp; Conditions</a></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="book-appointment-btn" class="submit-section submit-btn-bottom">
                            <button type="submit" class="btn btn-primary" name="form_submit">Book Appointment</button>
                        </div>

                    </form>
                    <!-- /Book Appointment Form -->

                </div>
            </div>
        </div>
    </div>
    <!-- /Model -->

    <!-- jQuery -->
    <script th:src="@{/assets/js/jquery-3.6.4.min.js}"></script>

    <!-- Bootstrap Bundle JS -->
    <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>

    <!-- Feather Icon JS -->
    <script th:src="@{/assets/js/feather.min.js}"></script>

    <!-- Select2 JS -->
    <script th:src="@{/assets/plugins/select2/js/select2.min.js}"></script>

    <!-- Jquery UI -->
    <script th:src="@{/assets/plugins/jquery-ui/jquery-ui.min.js}"></script>

    <!-- Sticky Sidebar JS -->
    <script th:src="@{/assets/plugins/theia-sticky-sidebar/ResizeSensor.js}"></script>
    <script th:src="@{/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js}"></script>

    <!-- Custom JS -->
    <script th:src="@{/assets/js/script.js}"></script>
    <script th:src="@{/assets/js/custom/function.js}"></script>
    <script th:src="@{/assets/js/custom/custom.js}"></script>

</body>
</html>