<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <th:block th:include="fragments/head"></th:block>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" th:href="@{/assets/plugins/fontawesome/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/plugins/fontawesome/css/all.min.css}">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/feather.css}">

    <!-- Datepicker CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-datetimepicker.min.css}">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">

    <!-- Animation CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/aos.css}">

    <!-- Main CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/custom.css}">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/layout.css}">

</head>
<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <th:block th:include="fragments/header"></th:block>
        <!-- /Header -->

        <!-- Home Banner -->
        <section class="banner-section home-banner">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content aos" data-aos="fade-up">
                            <h1>Find <span>Best Doctors</span> in Turkey Easily.</h1>
                            <img th:src="@{assets/img/icons/header-icon.svg}" class="header-icon" alt="header-icon">
                            <p>Discover skilled medical professionals across Turkey with our easy-to-use search platform.</p>
                        </div>
                        <div class="search-box-one aos" data-aos="fade-up">

                            <form id="search-doctor" role="form" autocomplete="off" class="form-validation">

                                <div class="search-input search-line">
                                    <i class="feather-search bficon"></i>
                                    <div class="form-group mb-0">
                                        <input type="text" id="search" class="form-control" placeholder="Search doctors name">
                                    </div>
                                </div>

                                <div class="search-input search-map-line">
                                    <i class="feather-map-pin"></i>
                                    <div class="form-group mb-0">
                                        <input type="text" id="location" class="form-control" placeholder="Location">
                                    </div>
                                </div>

                                <div class="form-search-btn">
                                    <button type="submit" class="btn">Search</button>
                                </div>

                            </form>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="banner-img aos" data-aos="fade-up">
                            <img th:src="@{assets/img/banner-img.png}" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Home Banner -->

        <!-- Specialities Section -->
        <section class="specialities-section-one">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 aos" data-aos="fade-up">
                        <div class="section-header-one section-header-slider">
                            <h2 class="section-title">Specialities</h2>
                        </div>
                    </div>
                    <div class="col-md-6 aos" data-aos="fade-up">
                        <div class="owl-nav slide-nav-1 text-end nav-control"></div>
                    </div>
                </div>
                <div class="owl-carousel specialities-slider-one owl-theme aos" data-aos="fade-up">

                    <th:block th:each="specialist: ${specialists}">

                        <div class="item">
                            <a class="specialities-item" th:href="@{'/search?spe=' + ${specialist.id}}">
                                <div class="specialities-img">
                                    <span>
                                        <img th:src="@{'assets/img/specialities/' + ${specialist.uri}}" th:alt="${specialist.name}">
                                    </span>
                                </div>
                                <p>[[${specialist.name}]]</p>
                            </a>
                        </div>

                    </th:block>

                </div>
                <div class="specialities-btn aos" data-aos="fade-up">
                    <a th:href="@{/search}" class="btn">
                        See All Specialities
                    </a>
                </div>
            </div>
        </section>
        <!-- /Specialities Section -->

        <!-- Doctors Section -->
        <section class="doctors-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 aos" data-aos="fade-up">
                        <div class="section-header-one section-header-slider">
                            <h2 class="section-title">Our Doctors</h2>
                        </div>
                    </div>
                    <div class="col-md-6 aos" data-aos="fade-up">
                        <div class="owl-nav slide-nav-2 text-end nav-control"></div>
                    </div>
                </div>
                <div class="owl-carousel doctor-slider-one owl-theme aos" data-aos="fade-up">

                    <th:block th:each="doctor: ${doctors}">

                        <!-- Doctor Item -->
                        <div class="item">
                            <div class="doctor-profile-widget">
                                <div class="doc-pro-img">
                                    <a th:href="@{'/doctor/' + ${doctor.userName}}">
                                        <div class="doctor-profile-img">
                                            <img th:src="@{'/' + ${doctor.userImgSrc}}" class="img-fluid" th:alt="${doctor.userImgAlt}">
                                        </div>
                                    </a>
                                </div>
                                <div class="doc-content">
                                    <div class="doc-pro-info">
                                        <div class="doc-pro-name">
                                            <a th:href="@{'/doctor/' + ${doctor.userName}}" th:text="${doctor.extendedUserName}"></a>
                                            <p th:text="${doctor.specialist} ? ${doctor.specialist} : '&nbsp;'"></p>
                                        </div>
                                        <div class="reviews-ratings">
                                            <p>
                                                <span><i class="fas fa-star"></i> <th:block th:text="${doctor.reviews.ratingAvg}"></th:block></span> (<th:block th:text="${doctor.reviews.ratingCount <= 999} ? ${doctor.reviews.ratingCount} : '999+'"></th:block>)
                                            </p>
                                        </div>
                                    </div>
                                    <div class="doc-pro-location">
                                        <p><i class="feather-map-pin"></i> <th:block th:text="${doctor.addressShort}"></th:block></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Doctor Item -->

                    </th:block>

                </div>
            </div>
        </section>
        <!-- /Doctors Section -->

        <!-- Pricing -->
        <!--<section class="pricing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center aos" data-aos="fade-up">
                        <div class="section-header-one">
                            <h2 class="section-title">Pricing Plan</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-4 col-sm-12 aos" data-aos="fade-up">
                        <div class="card pricing-card">
                            <div class="card-body">
                                <div class="pricing-header">
                                    <div class="pricing-header-info">
                                        <div class="pricing-icon">
												<span>
													<img src="assets/img/icons/price-icon1.svg" alt="icon">
												</span>
                                        </div>
                                        <div class="pricing-title">
                                            <p>For individuals</p>
                                            <h4>Basic</h4>
                                        </div>
                                    </div>
                                    <div class="pricing-header-text">
                                        <p>Lorem ipsum dolor consectetur adipiscing elit,sed do eiusmod tempor</p>
                                    </div>
                                </div>
                                <div class="pricing-info">
                                    <div class="pricing-amount">
                                        <h2>$99 <span>/monthly</span></h2>
                                        <h6>What’s included</h6>
                                    </div>
                                    <div class="pricing-list">
                                        <ul>
                                            <li>Lorem ipsum dolor amet, consectetur </li>
                                            <li>Lorem ipsum amet, consectetur </li>
                                            <li>Lorem ipsum dolor amet, consectetur </li>
                                            <li>Lorem ipsum amet, consectetur </li>
                                        </ul>
                                    </div>
                                    <div class="pricing-btn">
                                        <a href="login-email.html" class="btn">Choose Plan</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 aos" data-aos="fade-up">
                        <div class="card pricing-card pricing-card-active">
                            <div class="card-body">
                                <div class="pricing-header">
                                    <div class="pricing-header-info">
                                        <div class="pricing-icon">
												<span>
													<img src="assets/img/icons/price-icon2.svg" alt="icon">
												</span>
                                        </div>
                                        <div class="pricing-title">
                                            <p>For startups</p>
                                            <h4>Pro</h4>
                                        </div>
                                        <div class="pricing-tag">
                                            <span>Popular</span>
                                        </div>
                                    </div>
                                    <div class="pricing-header-text">
                                        <p>Lorem ipsum dolor consectetur adipiscing elit,sed do eiusmod tempor</p>
                                    </div>
                                </div>
                                <div class="pricing-info">
                                    <div class="pricing-amount">
                                        <h2>$199 <span>/monthly</span></h2>
                                        <h6>What’s included</h6>
                                    </div>
                                    <div class="pricing-list">
                                        <ul>
                                            <li>Lorem ipsum dolor amet, consectetur</li>
                                            <li>Lorem ipsum amet, consectetur</li>
                                            <li>Neque porro quisquam est, qui dolorem</li>
                                            <li>Lorem ipsum dolor amet, consectetur</li>
                                            <li>Lorem ipsum amet, consectetur</li>
                                            <li>Sed ut perspiciatis unde</li>
                                            <li>Nemo enim ipsam voluptatem</li>
                                        </ul>
                                    </div>
                                    <div class="pricing-btn">
                                        <a href="login-email.html" class="btn">Choose Plan</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 aos" data-aos="fade-up">
                        <div class="card pricing-card">
                            <div class="card-body">
                                <div class="pricing-header">
                                    <div class="pricing-header-info">
                                        <div class="pricing-icon">
												<span>
													<img src="assets/img/icons/price-icon3.svg" alt="icon">
												</span>
                                        </div>
                                        <div class="pricing-title">
                                            <p>For big companies</p>
                                            <h4>Enterprise</h4>
                                        </div>
                                    </div>
                                    <div class="pricing-header-text">
                                        <p>Lorem ipsum dolor consectetur adipiscing elit,sed do eiusmod tempor</p>
                                    </div>
                                </div>
                                <div class="pricing-info">
                                    <div class="pricing-amount">
                                        <h2>$399 <span>/monthly</span></h2>
                                        <h6>What’s included</h6>
                                    </div>
                                    <div class="pricing-list">
                                        <ul>
                                            <li>Lorem ipsum dolor amet, consectetur </li>
                                            <li>Lorem ipsum amet, consectetur </li>
                                            <li>Lorem ipsum dolor amet, consectetur </li>
                                            <li>Lorem ipsum amet, consectetur </li>
                                        </ul>
                                    </div>
                                    <div class="pricing-btn">
                                        <a href="login-email.html" class="btn">Choose Plan</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
        <!-- /Pricing -->

        <!-- Clinic Section -->
        <section class="doctors-section clinic-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 aos" data-aos="fade-up">
                        <div class="section-header-one section-header-slider">
                            <h2 class="section-title">Health Centers</h2>
                        </div>
                    </div>
                    <div class="col-md-6 aos" data-aos="fade-up">
                        <div class="owl-nav slide-nav-clinic text-end nav-control"></div>
                    </div>
                </div>
                <div class="owl-carousel clinic-slider owl-theme aos" data-aos="fade-up">

                    <!-- Doctor Item -->
                    <div class="item">
                        <div class="doctor-profile-widget">
                            <div class="doc-pro-img">
                                <a href="javascript:void(0);">
                                    <div class="doctor-profile-img">
                                        <img th:src="@{assets/img/health_centers/Vitalis.jpg}" class="img-fluid" th:alt="${'Vitalis'}">
                                    </div>
                                </a>
                            </div>
                            <div class="doc-content">
                                <div class="doc-pro-info">
                                    <div class="doc-pro-name">
                                        <a href="javascript:void(0);">
                                            Vitalis
                                        </a>
                                    </div>
                                    <div class="reviews-ratings">
                                        <!--<p>
                                            <span><i class="fas fa-star"></i> <th:block th:text="${doctor.reviews.ratingAvg}"></th:block></span> (<th:block th:text="${doctor.reviews.ratingCount <= 999} ? ${doctor.reviews.ratingCount} : '999+'"></th:block>)
                                        </p>-->
                                    </div>
                                </div>
                                <div class="doc-pro-location">
                                    <p><i class="feather-map-pin"></i> Bursa, Türkiye</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Doctor Item -->

                    <!-- Doctor Item -->
                    <div class="item">
                        <div class="doctor-profile-widget">
                            <div class="doc-pro-img">
                                <a href="javascript:void(0);">
                                    <div class="doctor-profile-img">
                                        <img th:src="@{assets/img/health_centers/Enternia.jpg}" class="img-fluid" th:alt="${'Enternia'}">
                                    </div>
                                </a>
                            </div>
                            <div class="doc-content">
                                <div class="doc-pro-info">
                                    <div class="doc-pro-name">
                                        <a href="javascript:void(0);">
                                            Enternia
                                        </a>
                                    </div>
                                    <div class="reviews-ratings">
                                        <!--<p>
                                            <span><i class="fas fa-star"></i> <th:block th:text="${doctor.reviews.ratingAvg}"></th:block></span> (<th:block th:text="${doctor.reviews.ratingCount <= 999} ? ${doctor.reviews.ratingCount} : '999+'"></th:block>)
                                        </p>-->
                                    </div>
                                </div>
                                <div class="doc-pro-location">
                                    <p><i class="feather-map-pin"></i> İstanbul, Türkiye</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Doctor Item -->

                    <!-- Doctor Item -->
                    <div class="item">
                        <div class="doctor-profile-widget">
                            <div class="doc-pro-img">
                                <a href="javascript:void(0);">
                                    <div class="doctor-profile-img">
                                        <img th:src="@{assets/img/health_centers/Neomedicus.jpg}" class="img-fluid" th:alt="${'Neomedicus'}">
                                    </div>
                                </a>
                            </div>
                            <div class="doc-content">
                                <div class="doc-pro-info">
                                    <div class="doc-pro-name">
                                        <a href="javascript:void(0);">
                                            Neomedicus
                                        </a>
                                    </div>
                                    <div class="reviews-ratings">
                                        <!--<p>
                                            <span><i class="fas fa-star"></i> <th:block th:text="${doctor.reviews.ratingAvg}"></th:block></span> (<th:block th:text="${doctor.reviews.ratingCount <= 999} ? ${doctor.reviews.ratingCount} : '999+'"></th:block>)
                                        </p>-->
                                    </div>
                                </div>
                                <div class="doc-pro-location">
                                    <p><i class="feather-map-pin"></i> İzmir, Türkiye</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Doctor Item -->

                    <!-- Doctor Item -->
                    <div class="item">
                        <div class="doctor-profile-widget">
                            <div class="doc-pro-img">
                                <a href="javascript:void(0);">
                                    <div class="doctor-profile-img">
                                        <img th:src="@{assets/img/health_centers/Elysium.jpg}" class="img-fluid" th:alt="${'Elysium'}">
                                    </div>
                                </a>
                            </div>
                            <div class="doc-content">
                                <div class="doc-pro-info">
                                    <div class="doc-pro-name">
                                        <a href="javascript:void(0);">
                                            Elysium
                                        </a>
                                    </div>
                                    <div class="reviews-ratings">
                                        <!--<p>
                                            <span><i class="fas fa-star"></i> <th:block th:text="${doctor.reviews.ratingAvg}"></th:block></span> (<th:block th:text="${doctor.reviews.ratingCount <= 999} ? ${doctor.reviews.ratingCount} : '999+'"></th:block>)
                                        </p>-->
                                    </div>
                                </div>
                                <div class="doc-pro-location">
                                    <p><i class="feather-map-pin"></i> Ankara, Türkiye</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Doctor Item -->

                </div>
            </div>
        </section>
        <!-- /Clinic Section -->

        <!-- Work Section -->
        <section class="work-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 work-img-info aos" data-aos="fade-up">
                        <div class="work-img">
                            <img th:src="@{assets/img/work-img.png}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 work-details">
                        <div class="section-header-one aos" data-aos="fade-up">
                            <h5>How it Works</h5>
                            <h2 class="section-title">4 easy steps to get your solution</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 aos" data-aos="fade-up">
                                <div class="work-info">
                                    <div class="work-icon">
                                        <span><img th:src="@{assets/img/icons/work-01.svg}" alt=""></span>
                                    </div>
                                    <div class="work-content">
                                        <h5>Find Your Doctor</h5>
                                        <p>Discover top-rated doctors and clinics in Turkey catering to your specific health requirements.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 aos" data-aos="fade-up">
                                <div class="work-info">
                                    <div class="work-icon">
                                        <span><img th:src="@{assets/img/icons/work-02.svg}" alt=""></span>
                                    </div>
                                    <div class="work-content">
                                        <h5>Explore Doctor Profiles</h5>
                                        <p>Explore backgrounds and expertise of healthcare professionals in our database.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 aos" data-aos="fade-up">
                                <div class="work-info">
                                    <div class="work-icon">
                                        <span><img th:src="@{assets/img/icons/work-03.svg}" alt=""></span>
                                    </div>
                                    <div class="work-content">
                                        <h5>Schedule Your Appointment</h5>
                                        <p>Effortlessly schedule appointments with trusted doctors and clinics in Turkey for prompt attention.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 aos" data-aos="fade-up">
                                <div class="work-info">
                                    <div class="work-icon">
                                        <span><img th:src="@{assets/img/icons/work-04.svg}" alt=""></span>
                                    </div>
                                    <div class="work-content">
                                        <h5>Best Healthcare Solutions</h5>
                                        <p>Benefit from our vast network of Turkish medical experts for seamless care.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Work Section -->

        <!-- FAQ Section -->
        <section class="faq-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-header-one text-center aos" data-aos="fade-up">
                            <h5>Get Your Answer</h5>
                            <h2 class="section-title">Frequently Asked Questions</h2>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 aos" data-aos="fade-up">
                        <div class="faq-img">
                            <img th:src="@{assets/img/faq-img.jpg}" class="img-fluid" alt="img">
                            <div class="faq-patients-count">
                                <div class="faq-smile-img">
                                    <img th:src="@{assets/img/icons/smiling-icon.svg}" alt="icon">
                                </div>
                                <div class="faq-patients-content">
                                    <h4><span class="count-digit">95</span>k+</h4>
                                    <p>Happy Patients</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="faq-info aos" data-aos="fade-up">
                            <div class="accordion" id="faq-details">

                                <!-- FAQ Item -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <a href="javascript:void(0);" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Is there a fee for requesting an initial consultation and contacting a doctor?
                                        </a>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faq-details">
                                        <div class="accordion-body">
                                            <div class="accordion-content">
                                                <p>
                                                    No, obtaining information about doctors, scheduling appointments, and initial consultation with them through our platform is completely free of charge.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /FAQ Item -->

                                <!-- FAQ Item -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <a href="javascript:void(0);" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            How can I find a doctor in Turkey using your website?
                                        </a>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faq-details">
                                        <div class="accordion-body">
                                            <div class="accordion-content">
                                                <p>
                                                    Simply use our search feature to explore a comprehensive list of doctors in Turkey. Filter by specialty, location, and other criteria to find the right healthcare professional for your needs.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /FAQ Item -->

                                <!-- FAQ Item -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <a href="javascript:void(0);" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Are all the doctors listed on your website licensed and certified?
                                        </a>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faq-details">
                                        <div class="accordion-body">
                                            <div class="accordion-content">
                                                <p>
                                                    Yes, we ensure that all the doctors featured on our platform are licensed and certified to practice in Turkey. We prioritize the inclusion of qualified and reputable healthcare professionals.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /FAQ Item -->

                                <!-- FAQ Item -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFour">
                                        <a href="javascript:void(0);" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Can I read reviews from other patients about a specific doctor?
                                        </a>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#faq-details">
                                        <div class="accordion-body">
                                            <div class="accordion-content">
                                                <p>
                                                    Absolutely! Patient reviews and ratings are available for each doctor on their profile. This allows you to make informed decisions based on the experiences of others.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /FAQ Item -->

                                <!-- FAQ Item -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFive">
                                        <a href="javascript:void(0);" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            How does the process proceed after submitting a request to a doctor?
                                        </a>
                                    </h2>
                                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#faq-details">
                                        <div class="accordion-body">
                                            <div class="accordion-content">
                                                <p>
                                                    After you submit your request, it is forwarded to the doctor. The doctor reviews and assesses the information before reaching out to you through the communication tool of your choice.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /FAQ Item -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /FAQ Section -->

        <!-- Testimonial Section -->
        <section class="testimonial-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="testimonial-slider slick">
                            <div class="testimonial-grid">
                                <div class="testimonial-info">
                                    <div class="testimonial-img">
                                        <img th:src="@{assets/img/testimonials/elif_yilmaz.jpg}" class="img-fluid" alt="Dr. Elif Yılmaz">
                                    </div>
                                    <div class="testimonial-content">
                                        <div class="section-header section-inner-header testimonial-header">
                                            <h5>Testimonials</h5>
                                            <h2>What Our Client Says</h2>
                                        </div>
                                        <div class="testimonial-details">
                                            <p>
                                                Thanks to this platform, I can communicate with my patients more quickly and effectively. By answering their questions instantly, I make healthcare services more accessible. Our patients' satisfaction is very important to us!
                                            </p>
                                            <h6><span>Dr. Elif Yılmaz</span></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-grid">
                                <div class="testimonial-info">
                                    <div class="testimonial-img">
                                        <img th:src="@{assets/img/testimonials/caner_kaya.jpg}" class="img-fluid" alt="Dr. Caner Kaya">
                                    </div>
                                    <div class="testimonial-content">
                                        <div class="section-header section-inner-header testimonial-header">
                                            <h5>Testimonials</h5>
                                            <h2>What Our Client Says</h2>
                                        </div>
                                        <div class="testimonial-details">
                                            <p>
                                                At first, I was a bit skeptical about digital platforms, but after my first consultation with a patient, I realized how beneficial this platform is. The ability to provide quick responses and professional support is truly amazing.
                                            </p>
                                            <h6><span>Dr. Caner Kaya</span></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-grid">
                                <div class="testimonial-info">
                                    <div class="testimonial-img">
                                        <img th:src="@{assets/img/testimonials/ahmet_demir.jpg}" class="img-fluid" alt="Dr. Ahmet Demir">
                                    </div>
                                    <div class="testimonial-content">
                                        <div class="section-header section-inner-header testimonial-header">
                                            <h5>Testimonials</h5>
                                            <h2>What Our Client Says</h2>
                                        </div>
                                        <div class="testimonial-details">
                                            <p>
                                                This platform offers a perfect solution for our patients with busy schedules. It speeds up the appointment process, makes follow-ups easier, and allows us to closely monitor our patients' health status. I am really satisfied.
                                            </p>
                                            <h6><span>Dr. Ahmet Demir</span></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-grid">
                                <div class="testimonial-info">
                                    <div class="testimonial-img">
                                        <img th:src="@{assets/img/testimonials/mehmet_arslan.jpg}" class="img-fluid" alt="Dr. Mehmet Arslan">
                                    </div>
                                    <div class="testimonial-content">
                                        <div class="section-header section-inner-header testimonial-header">
                                            <h5>Testimonials</h5>
                                            <h2>What Our Client Says</h2>
                                        </div>
                                        <div class="testimonial-details">
                                            <p>
                                                With online consultations, we can dedicate more time to our patients and respond to their needs immediately. This platform provides a revolutionary innovation in healthcare services, making processes much more efficient.
                                            </p>
                                            <h6><span>Dr. Mehmet Arslan</span></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Testimonial Section -->

        <!-- Articles Section -->
        <section class="articles-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 aos" data-aos="fade-up">
                        <div class="section-header-one text-center">
                            <h2 class="section-title">Latest Articles</h2>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <th:block th:each="blog: ${blogs}">

                        <div class="col-lg-6 col-md-6 d-flex aos" data-aos="fade-up">
                            <div class="articles-grid w-100">
                                <div class="articles-info">
                                    <div class="articles-left">
                                        <a th:href="@{'/blogs/' + ${blog.slug}}">
                                            <div class="articles-img">
                                                <img class="img-fluid" th:src="@{'/' + ${blog.blogImgSrc}}" th:alt="${blog.blogImgAlt}">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="articles-right">
                                        <div class="articles-content">
                                            <ul class="articles-list nav">
                                                <li class="author">
                                                    <i class="feather-user"></i> <x-text th:text="${blog.extendedUserName}"></x-text>
                                                </li>
                                                <li class="date">
                                                    <i class="feather-calendar"></i> <x-text th:text="${blog.createdAt}"></x-text>
                                                </li>
                                            </ul>
                                            <h4 class="title">
                                                <a th:href="@{'/blogs/' + ${blog.slug}}" th:text="${blog.title}">
                                                </a>
                                            </h4>
                                            <p class="preface" th:text="${blog.preface}"></p>
                                            <a th:href="@{'/blogs/' + ${blog.slug}}" class="btn">
                                                View Blog
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </th:block>

                </div>
                <div class="row view-all-area">
                    <a th:href="@{/blogs}" class="btn-view-all aos" data-aos="fade-up">View All</a>
                </div>
            </div>
        </section>
        <!-- /Articles Section -->

        <!-- Footer -->
        <th:block th:include="fragments/footer"></th:block>
        <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- ChatBot Assistant -->
    <th:block th:include="fragments/chatbot"></th:block>
    <!-- /ChatBot Assistant -->

    <!-- ScrollToTop -->
    <!--<div class="progress-wrap active-progress">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;"></path>
        </svg>
    </div>-->
    <!-- /ScrollToTop -->

    <!-- jQuery -->
    <script th:src="@{/assets/js/jquery-3.6.4.min.js}"></script>

    <!-- Bootstrap Bundle JS -->
    <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>

    <!-- Feather Icon JS -->
    <script th:src="@{/assets/js/feather.min.js}"></script>

    <!-- Datepicker JS -->
    <script th:src="@{/assets/js/moment.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap-datetimepicker.min.js}"></script>

    <!-- Owl Carousel JS -->
    <script th:src="@{/assets/js/owl.carousel.min.js}"></script>

    <!-- Slick JS -->
    <script th:src="@{/assets/js/slick.js}"></script>

    <!-- Animation JS -->
    <script th:src="@{/assets/js/aos.js}"></script>

    <!-- Counter JS -->
    <script th:src="@{assets/js/counter.js}"></script>

    <!-- BacktoTop JS -->
    <script th:src="@{assets/js/backToTop.js}"></script>

    <!-- Custom JS -->
    <script th:src="@{/assets/js/script.js}"></script>
    <script th:src="@{/assets/js/custom/custom.js}"></script>

</body>
</html>